@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/*---Media Queries --*/

body {
	background-image: url("../images/SeeingSpots_1920x1234.jpg");
}

.bg-dark {
	background-color: #414644fc !important;
}

.entire-content {
	width: 960px;
	padding: 0px;
	margin: auto;
}

/*------ Navigation Bar  ------*/

.navbar {
	padding: 0px;
}
.navbar-brand {
	background: #477b67;
	padding: 10px 20px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 24px;
	text-align: center;
}

#logo {
	border-radius: 90px;
	margin: 10px;
}

/*------ Content Section  ------*/

/** about **/

.main-section {
	background-color: #414644f2;
	color: #fff7d9;
	margin-top: 30px;
	width: 960px;
}

.box-head {
	border-bottom: 1px solid #fff7d9;
}

#profile-photo {
	width: 200px;
	display: inline-block;
	float: left;
	margin: 10px 20px 10px auto;
}

.page-content {
	padding: 20px 50px 20px 50px;
}

/*------ Contact Section ------*/

.input-box {
	width: auto;
	resize: auto;
}

.subhead {
	font-weight: normal;
}

/* ------ Footer ------*/
footer {
	background-color: #414644fc;
	border-top: solid 10px #477a67;
	color: #fff7d9;
	text-align: center;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

#logo {
	width: 50px;
}
