@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/*---Media Queries --*/

body {
	background-image: url("../images/SeeingSpots_1920x1234.jpg");
}

.entire-content {
	width: 960px;
	padding: 0px;
}
.navbar {
	padding: 0px;
}
.navbar-brand {
	background: #477b67;
	padding: 10px 20px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 24px;
	text-align: center;
}

#logo {
	border-radius: 90px;
	margin: 10px;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

#logo {
	width: 50px;
}
